<cfif (not structKeyExists(cookie, 'ckusername') or cookie["ckusername"] neq #Hash(session.sessionID, "MD5")#) and CGI.SCRIPT_NAME neq "/login.cfm">
    <cflocation url="login.cfm?error=2" addtoken="false">
<cfelseif structKeyExists(cookie, 'ckusername') and cookie["ckusername"] eq #Hash(session.sessionID, "MD5")# and CGI.SCRIPT_NAME eq "/login.cfm">
    <cflocation url="home.cfm" addtoken="false">
</cfif>
