<cfif structKeyExists(url, 'service') and url.service eq 'logout'>
    <cfcookie name="ckusername" value="" expires="now">
    <cflocation url="login.cfm" addtoken="false">
<cfelseif structKeyExists(url, 'service') and url.service eq 'login'>
    <cfquery name="auth" datasource="triplist">
        select * from users
        where email = <cfqueryparam cfsqltype="cf_sql_varchar" value="#FORM.email#" />
        and password = md5(<cfqueryparam cfsqltype="cf_sql_varchar" value="#FORM.password#" />)
    </cfquery>
    <!--- <cfdump var="#auth#"> --->
    
    <cfif auth.recordCount eq 1>
        <cfcookie name="ckusername" value="#Hash(session.sessionID, "MD5")#" expires="1">
        <cflocation url="home.cfm" addtoken="false">
    <cfelse>
        <cflocation url="login.cfm?error=1" addtoken="false">
    </cfif>
</cfif>

