input {
    background: #ffffff;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #D6D6D6;
    outline: none !important;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 30px);
    grid-gap: 5px;
}

ul li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}

ul li:hover {
    transform: scale(1.1);
}

#blue{
    background-color: #CEDEFF;
}

#yellow{
    background-color: #FFE39D;
}

#purple{
    background-color: #D0CAEC;
}

#red{
    background-color: #FFBDAB;
}

#green{
    background-color: #C0E8D8;
}

#pink{
    background-color: #FDDCF0;
}

.border-card {
    background: #FFFFFF;
    border: 2px solid #D6D6D6;
    border-radius: 30px;
    min-height: 85vh;
}

/* .circle-button {
    position: absolute;
    background: #5039A2 url('/assets/img/icon/plus.svg');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    outline: none !important;
} */

.border-lists {
    display: hidden;
    padding: 10px 0 0 5px;
}

.border-lists:hover{
    display: inline-block;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    padding: 10px 0 0 5px;
    width: 100%;
    --tw-shadow: 0 1px 3px 0 rgba(177, 171, 171, 0.1), 0 1px 2px 0 rgba(177, 171, 171, 0.1);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(155, 155, 155, 0)), var(--tw-ring-shadow, 0 0 rgba(155, 155, 155, 0)), var(--tw-shadow);
}

.icon-lists {
    display: hidden;
    float: right;
    cursor: pointer;
}

.input-lists button {
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background: #5039A2;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    border-radius: 50%;
    /* margin-left: 10px; */
}


