input[type=checkbox] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

label.checkboxButton {
    position: relative;
    display: inline-block;
    padding: 0 0 2em 2em;
    height: 1.3em;
    line-height: 1.3;
    cursor: pointer;
}

label.checkboxButton::before, label.checkboxButton::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 1.3em;
    width: 1.3em;
    transition: .2s all;
} 

label.checkboxButton::before {
    content: " ";
    border: 1px solid #C4C4C4;
    border-radius: 50%;
    z-index: 1;
}

label.checkboxButton::after {
    content: " ";
    background-image: url('../img/icon/check.svg');
    background-size: 0.8em;
    background-repeat: no-repeat;
    line-height: 1.3;
    /* text-align: center; */
    margin: 4px;
}


label.checkboxButton::after {
    transform: scale(0);
}

input[type=checkbox]:checked+label::after {
    transform: scale(1);
}

