.profile-header {
    background-color: #312070;
    /* min-height: 85vh; */
    /* max-width: 85vw; */
    border-radius: 10px;
    padding: 15px;
    color: white;
}

.browse-button {
    background-color: #312070;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
    color: #ffffff;
}
