@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Nunito';
}


.header-text {
    font-family: 'Abhaya Libre';
}

.plan-left-section {
    background-color: #F6F6FE;
    /* min-height: 85vh; */
    max-height: 85vh;
    border-radius: 20px;
    /* padding: 25px; */
}

.create-button {
    background: #5039A2;
    font-size: 24px;
    color: white;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    outline: none !important;
    
    /* create button for tablet, mobile */
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 1;
}

.card-trip {
    max-width: 100%;
    border-radius: 25px;
    background-color: #DFE7FF;
}


.card-trip:hover {
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    transition-duration: .5s;
}

.card-trip > a > .card-trip-content {    
    border-bottom: 1px solid white;
}

.card-trip  > .card-trip-content > p {
    margin-bottom: 0.25rem;
}

.primary-button {
    background-color: #5039A2;
    color: #fff;
    border-radius: 30px;
    outline: none !important;
    /* position: relative; */
}

.plan-content > * {
    margin-bottom: 1.0rem;
}

.card-trip-content > p {
    font-size: 14px;
    font-weight: 300;
}

.vertical-menu {
    overflow-y: auto;
}

/* .form-div {
    position: relative;
    height: 48px;
} */

.form-input {
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    z-index: 1;
}

.form-label {
    position: absolute;
    left: .5rem;
    top: .5rem;
    padding: 0 .25rem;
    background: #fff;
    transition: .3s;
}

.form-input:focus + .form-label {
    top: -.5rem;
    left: .8rem;
    z-index: 10;
}

.form-input:not(:placeholder-shown).form-input:not(:focus) + .form-label {
    top: -.5rem;
    left: .8rem;
    z-index: 10;
}

/* .search-box {
    height: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
}

.search-box input {
    height: 40px;
    width: 0px;
    padding: 0px 20px;
    border-radius: 50%;
    border: 0px;
    padding-right: 50px;
    transition: 1.5s;
}

.search-box input:focus {
    width: 200px;
}

.search-box:before{
    content: "\f002";
    font-family: 'FontAwesome';
    position: absolute;
    right: 18px;
    line-height: 40px;
} */